@font-face {
    font-family: 'AvenirArabicLight';
    src: url("../../assets/fonts/aviner/AvenirArabic-Light.otf");
}

@font-face {
    font-family: 'AvenirArabicMedium';
    src: url("../../assets/fonts/aviner/AvenirArabic-Medium.otf");
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body{
    background-color: #f8f9fa;
}
main {
    flex: 1; /* يضمن أن المحتوى الرئيسي يمتد لملء المساحة */
}
body, a, input, h1, h2, h3, h4, h5, h6, p, button, span, li, textarea, .swal2-html-container, label,
thead, tbody, tfoot, tr, td, th {
    font-family: 'AvenirArabicMedium' !important;
}

input, a {
    box-shadow: none !important;
}

h1, h2{
    font-weight: bold;
}

.home-bg {
    background-size: cover;
}


.swal2-container {
    direction: rtl;
}

header {
    background-color: #009639; /* اللون الاخضر */
    color: #ffffff;
}

footer {
    background-color: #000000; /* اللون الأسود */
}

.btn-primary {
    background-color: #009639; /* اللون الأحمر */
    border-color: #009639;
}

.btn-primary:hover {
    background-color: #1c7430; /* اللون الأخضر */
    border-color: #1c7430;
}

.btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
}

.btn-outline-light:hover {
    background-color: #ffffff;
    color: #000000;
}

.logo {
    height: 150px;
}
.text-page{
    width: 80%;
    margin: auto;
    font-size: 20px;
}
.h-title-a{
    font-size: 35px;
}
